.bg {
    background-color: #0492c2;
}

.gradient-custom-1 {
    background: linear-gradient(to left, #0492c2, rgba(246, 243, 255, 1))
}

.detail-card {
    width: 80%;
    margin: auto;
}

html,
body,
.intro {
  height: 100%;
  padding: 0;
}